@charset "UTF-8";
body {
    font-family: "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, Roboto, Verdana, sans-serif;
    font-size: 14px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* ヘッダー領域 */
.header-all{
    width:90%;
    height: 80px;
    display: flex;
    margin:auto;
}

.logo{
    width: 40%;
    margin-left: 0;
    padding-left: 0;
}

.header-right{
    display: flex;
    width: 60%;
    font-size: 9.0px;
}

.bankcode{
    position: relative;
    width: 100px;
    height: 80px;
    padding: 0 20px 0 0;
}

.bankcode-logo{
    position: absolute;
    bottom: 0;
}

.text-size{
    width: 150px;
    padding: 0 20px 0 0;
}

.text-size ul {
    width: 50%;
    height: 60%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: flex-end;
}

.text-size ul li{
    padding: 1px;
}

.site-map ul{
    display: flex;
    list-style: none;
    padding:0;
    justify-content: space-between;
}

.site-map ul li{
    display: block;
}

.serch-box{
    border: 1px black solid;
    display: flex;
}

.serch-box input[type="text"]{
    border: 1px #242c7c solid;
    height: 28px;
    padding-right: 10px;
}
  
.serch-box input[type="image"]{
    margin-left: -1px;
}

nav{
    height: 30px;
    border-bottom: #242c7c solid;
    background-color: rgb(240, 240, 240);
}

.navibar{
    width: 900px;
    margin: auto;
}

.navibar ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
}

.navibar li{
    display:block;
    padding: 5px 30px;
}

.navibar li+li{
    border-left: solid 1px #aaa;
}

.navibar li h4{
    margin: auto;
}

.contents{
    overflow:hidden;
    width: 900px;
    margin: auto;
    padding: auto;
}

.left-contents{
    float: left;
    width: 600px;
}

.top-image{
    width: 100%;
    padding: 0px;
    margin: 10px auto;    
  }
 
  .flexslider
  {
    width: 95%;
    margin: auto;
    padding: auto;
  }

  .slides{
      list-style: none;
  }

  .flexslider img{
    width: 100%;
  }

  .top-image-nav{
    background-color: #242c7c;
    height: 70px;
    margin: auto;
    padding: auto;
    width: 95%;
  }

  .top-image-nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }

  .top-image-nav ul li img{
      width: 150px;
      height: 50px;
      padding: 0 10px;
    }
  
.page{
    padding: 0;
    margin: 0 auto 10px auto;
    border: 1px solid #242c7c;
    background-color: white;
    width: 100%;
}
.page ul{
    display: flex;
    list-style: url(../images/list_head.gif);
    flex-flow: row wrap;
    justify-content: left;
    width: 80%;
    margin: 10px;
    font-size: 12px;
}

.page ul li{
    flex:0 0 33.3%;
}

.page h4{
    margin: 0;
    padding: 5px;
    color: white;
    background-color: #242c7c;
    padding-left: 10px; 
}

.news{
    width: 100%;
    border: 1px solid black;
    padding: 0;
    margin:0;
}

.news-tab{
    list-style: none;
    padding: 0;
    overflow:hidden;
    display:flex;
    width: 100%;
}

.news-tab img{
    width:150px;
}

.news-tab li{
    cursor: pointer;
}

.news-contents {
    list-style: none;
    padding: 0;
}

.news-contents ul{
    display: none;
}
.news-contents .show{
    display: block;
}



.right-contents{
    float: left;
    width: 250px;
    margin-left: 10px;
    padding-left: 10px;
}

.login{
    padding: 0;
    margin: 10px 0 10px 0;
    border: 5px solid #242c7c;
    background-color: white;
    width: 90%;
    text-align: center;
    
}

.login p{
    font-size: 12px;
    text-align: center;
}

.login h4{
    margin: 0;
    padding: 5px;
    color: white;
    background-color: #242c7c;
    padding-left: 10px; 
    text-align: center;
}

.service-nav{
    padding: 0;
    margin: 10px 0 10px 0;
    border: 5px solid #242c7c;
    background-color: white;
    width: 90%;
    text-align: center;
}

.service-nav h4{
    margin: 0;
    padding: 5px;
    color: white;
    background-color: #242c7c;
    padding-left: 10px; 
    text-align: center;
}

.service-nav ul{
    list-style: none;
    padding: 0;
}

.etc-nav{
    padding: 0;
    margin: 10px 0 10px 0;
    width: 90%;
    text-align: center;
}

.etc-nav ul{
    list-style: none;
    padding:0;
}

footer{
    background-image: url("../images/footer_bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 10px;
    margin: 9px auto;
    padding: auto;
}

.undercontents-group{
    width: 900px;   
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.undercontents{
    padding: 30px 30px 0 0;
}
.undercontents-group p{
    color: white;
}

.undercontents ul{
    padding:0;
    list-style: circle inside;
    color: white;
}

.undercontents li a{
    color: white;
}

.footer-link{
    font-size: 7px;
    background-color: white;
    width: 100%;
}

.footer-link ul{
    list-style: none;
    height: 30px;
    width: 900px;   
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.footer-link li a{
    padding: 0.5px 12px;
    border-right: solid 1px #aaa;
    color: rgb(23, 132, 146);
    text-decoration: none;
}

.footer-link li:first-child a{
    border-left: solid 1px #aaa;
}

small{
    display: block;
    text-align: center;
    color: white;
  }